:root{
  --primary : #454258;
  --secondry : #524C71;
  --accent : #48D4A2;
  --text-clr : white;
  --text-clr-2 : #D2D2D2;
  --text-clr-3 : #787878;
}
html{
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}
body{
  padding: 0;
  margin: 0; 
  font-family: 'Russo One', sans-serif;
  background-color: var(--primary);
  color: var(--text-clr);
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}  
.accent{ color: var(--accent);}
button{ cursor: pointer;}
i{ pointer-events: none;}
img{ 
  display: block;
  width: 100%;
}

.nav{
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--secondry);
  padding: .7rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}
.logo{  
  font-family: 'Stalinist One', sans-serif;
  color: var(--accent);
  text-decoration: none; 
}

.nav .links{
  padding: 0;
}
.nav .toggle-nav{ display: none;}
.nav .links ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav .nav-link{
  margin-left: 1rem;
  text-decoration: none;
  color: var(--text-clr);
}
.nav .nav-link:hover{
  text-decoration: underline;
  color: var(--accent);
}




.landing-page{  
  margin: 2.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.landing-page .title{
  font-size: 4rem;  
  text-align: center;
  line-height : 4.2rem;
  max-width: 800px;
}
.landing-page .url-form{
  background-color: var(--secondry);
  width: 57%;
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .4rem; 
  margin: 1.5rem 0;
  overflow: hidden;
  border-radius: .3rem;
  -webkit-border-radius: .3rem;
  -moz-border-radius: .3rem;
  -ms-border-radius: .3rem;
  -o-border-radius: .3rem;
}
.landing-page .url-form .url-input{
  flex: 1;
  background-color: var(--text-clr);
  border: none;
  padding: .7rem;
  border-radius: .2rem;
  -webkit-border-radius: .2rem;
  -moz-border-radius: .2rem;
  -ms-border-radius: .2rem;
  -o-border-radius: .2rem;
}
.landing-page .url-form .url-input:focus{
  outline: 3px solid var(--accent);
}
.landing-page .url-form .url-download-btn{
  padding: .7rem .9rem;
  border: none;
  background-color: var(--accent);
  color: var(--text-clr);
  margin-left: .5rem;
  border-radius: .2rem;
  -webkit-border-radius: .2rem;
  -moz-border-radius: .2rem;
  -ms-border-radius: .2rem;
  -o-border-radius: .2rem;
}
.landing-page .url-form .url-download-btn:hover{
  opacity: 0.7;
}




.results-container{
  margin: 4rem 0;
  padding: 0 4rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 1rem; 
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.results-container .tabs{
  display: flex;
  background-color: var(--secondry);
  width: max-content;
  overflow: hidden;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}
.results-container .tabs .tab{
  padding: .8rem 2rem;
  padding-left: 1.9rem;
  background-color: var(--secondry);
  border: none;
  color: var(--text-clr-2);
  pointer-events: none;
  color: var(--text-clr);
  font-weight: bold;
}
.results-container .tabs .tab i{ margin-right: .5rem;}

.results-container .results-dumper{
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  background-color: var(--secondry);
  padding: 2rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  border-top-left-radius: 0;
}
.results-container .results-dumper .loader{
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  animation: fade-in 1s ease;
  -webkit-animation: fade-in 1s ease;
}
@keyframes fade-in {
  from{
    opacity: 0;
  }
}
.results-container .results-dumper .loader .circle{
  margin-top: 2rem;
  height: 50px;
  width: 50px;
  border: 5px solid var(--accent);
  border-right: 5px solid var(--primary);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  animation: loading 1s infinite ease; 
  -webkit-animation: loading 1s infinite ease-in-out; 
}
@keyframes loading {
  0%{
    transform: rotate(0deg) ;
    -webkit-transform: rotate(0deg) ;
    -moz-transform: rotate(0deg) ;
    -ms-transform: rotate(0deg) ;
    -o-transform: rotate(0deg) ;
}
  100%{
    transform: rotate(360deg) ;
    -webkit-transform: rotate(360deg) ;
    -moz-transform: rotate(360deg) ;
    -ms-transform: rotate(360deg) ;
    -o-transform: rotate(360deg) ;
}
}
.results-container .results-dumper .result-item{
  background-color: var(--primary);
  margin-bottom: 1rem;
  display: flex;
  padding: .7rem;
  border-radius: .8rem;
  -webkit-border-radius: .8rem;
  -moz-border-radius: .8rem;
  -ms-border-radius: .8rem;
  -o-border-radius: .8rem;
}

.results-container .results-dumper .result-item .error{
  color: rgb(204, 72, 72);
  margin: 3rem auto;
}
.results-container .results-dumper .result-item.nothing{
  padding: 4rem 1rem;
  color: var(--text-clr-3);
  line-height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.results-container .results-dumper .result-item .thumbnail{
  flex: .8;
  background-position: center;
  background-size: cover;
  margin-right: .7rem;
} 
.results-container .results-dumper .result-item .thumbnail .image-link{
  position: relative;
}
.results-container .results-dumper .result-item .thumbnail .image-link *{
  pointer-events: none;
}
.results-container .results-dumper .result-item .thumbnail .image-link .duration{
  position: absolute;
  bottom: .5rem;
  right: .5rem;
  background-color: rgba(0,0,0,0.5);
  color: var(--text-clr);
  padding: .3rem;
  font-size: .8rem;
  border-radius: .3rem;
  -webkit-border-radius: .3rem;
  -moz-border-radius: .3rem;
  -ms-border-radius: .3rem;
  -o-border-radius: .3rem;
}
.results-container .results-dumper .result-item .content{
  flex: 1; 
  display: flex;
  flex-direction: column;
}
.results-container .results-dumper .result-item .content .header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.results-container .results-dumper .result-item .content .download-container{
  display: flex;
  border: 3px solid var(--secondry);
  border-radius: .8rem ;
  -webkit-border-radius: .8rem ;
  -moz-border-radius: .8rem ;
  -ms-border-radius: .8rem ;
  -o-border-radius: .8rem ;
  justify-content: space-between;
}
.results-container .results-dumper .result-item .content .download-container .table{
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: .4rem;
}
.results-container .results-dumper .result-item .content .download-container .table:first-child{
  border-right: 3px solid var(--secondry);
}


.results-container .results-dumper .result-item .content .download-container .table tr{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:.55rem ;
  border: 1px solid var(--secondry);
}
.results-container .results-dumper .result-item .content .download-container .table .header{
  justify-content: center;
  font-size: .9rem;
}
.results-container .results-dumper .result-item .content .download-container .table tr td{
  font-size: .8rem;
  color: var(--text-clr-2);
}
.results-container .results-dumper .result-item .content .download-container .table tr td i{
  margin-right: .3rem;
}

.results-container .results-dumper .result-item .content .download-container .table tr:first-child{ margin:  0;}
.results-container .results-dumper .result-item .content .download-container .table .download-link{
  text-decoration: none;
  color: var(--text-clr);
  background-color: var(--accent);
  padding: .34rem .6rem; 
  border-radius: .2rem;
  -webkit-border-radius: .2rem;
  -moz-border-radius: .2rem;
  -ms-border-radius: .2rem;
  -o-border-radius: .2rem;
}
.results-container .results-dumper .result-item .content .download-container .table .download-link i{
  margin-left: .5rem;
}
.results-container .results-dumper .result-item .content .download-container .table .download-link:hover{
   opacity: 0.5;
}






.contact{
  margin-top: 10rem;
  padding: 4rem;
  padding-bottom: 0;
  background-color: var(--secondry);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: .9rem;
}
.contact .logo{
  font-size: 3rem;
}
.contact .links{
  list-style: none;
  color: inherit;
  display: flex;
  align-items: center; 
  justify-content: center;
  width: 70%; 
  margin-top: 1.5rem;
}
.contact .links .link:hover{
  text-decoration: underline;
  color: var(--accent);
}

.contact .links .link{
  margin: 0 1rem;
  border: 1px solid var(--text-clr);
  padding: .5rem .6rem;
  border-radius: 50%;
  text-decoration: none;
  color: var(--text-clr);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
}
.contact .links .link:hover{
  background-color: var(--accent);
  color: var(--text-clr);
  border-color: var(--accent);
}
.contact .divider{
  width: 100%;
  height: 3px;
  background-color: var(--text-clr);
  border-radius: 50rem;
  -webkit-border-radius: 50rem;
  -moz-border-radius: 50rem;
  -ms-border-radius: 50rem;
  -o-border-radius: 50rem;
  margin: 1.5rem 0;
}
.contact .copy-right{
  margin: 3rem 0;
  font-size: .8rem;
  color: var(--text-clr-2);
}




/* tablet */
@media screen and (max-width : 768px) {
  .landing-page .url-form{
    width: 70%;
  }
  .results-container .results-dumper .result-item{
    flex-direction: column;
  }
  .results-container .results-dumper .result-item .thumbnail{ 
    margin: 0;
  }
  .results-container .results-dumper .result-item .content .header {
    margin: 1rem 0;
  }
}

/* mobile */
@media screen and (max-width : 425px) {
  .nav{
    padding: .5rem 1rem;
  }
  .nav .links{
    display: none;
    position: fixed;
    right: 0;
    left: 0;
    top: 3rem;
    background-color: var(--secondry);
    padding: 1rem;
    z-index: -1; 
  }
  .nav .links.active{
    display: block;
    animation: reveal 400ms ease;
    -webkit-animation: reveal 400ms ease;
}
  @keyframes reveal {
    from{
      top: -100%;
    } 
  }
  .nav .links ul{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .nav .links ul li{
    width: 100%;
    text-align: center;
    border-radius: .3rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
    overflow: hidden;
    transition:all 300ms ease ;
    -webkit-transition:all 300ms ease ;
    -moz-transition:all 300ms ease ;
    -ms-transition:all 300ms ease ;
    -o-transition:all 300ms ease ;
}
  .nav .links .nav-link{
    padding: 1rem;
    margin: 0;
    width: 100%;
    display: block;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
}
  .nav .links ul li:hover,
  .nav .links .nav-link.active{
    background-color: var(--primary);
  }
  .nav .toggle-nav{
    display: block;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: var(--text-clr);
}
  .nav .toggle-nav:hover{ 
    opacity: 0.5;
   }

  .landing-page{ 
    padding: 0 1rem;
    margin: 3rem 0;
  }
  .landing-page .title{
    font-size: 2.5rem;
    line-height: 2.7rem;
  }
  .landing-page .url-form{
    width: 100%;
  }
  .results-container {
    padding: 0 1rem;
  }
  .results-container .results-dumper {
    padding: .5rem;
  }
  .results-container .results-dumper .result-item{
    flex-direction: column;
  }
  .results-container .results-dumper .result-item .thumbnail{ 
    margin: 0;
  }
  .results-container .results-dumper .result-item .content .header {
    margin: 1rem 0;
  }
  .results-container .results-dumper .result-item .content .download-container{
    flex-direction: column;
    padding: 0;
    border: none;
  }
  .results-container .results-dumper .result-item .content .download-container .table{
    padding: 0;
    border-width: 2px;
  }

  .results-container .results-dumper .result-item .content .download-container .table:first-child{
    border: none;
    margin-bottom: 1rem;
  }

  .results-container .results-dumper .result-item .content .download-container .table .header{
    font-size: 1rem;
  }
  .results-container .results-dumper .result-item .content .download-container .table tr{
    padding: 1rem .7rem;
    border-width: 2px;
  }
  .results-container .results-dumper .result-item .content .download-container .table tr td{
    font-size: .9rem;
  }

  .contact{
    padding: 3rem 1rem;
    padding-bottom: 0;
  }
  .contact .links{
    width: 100%;
  }
  .contact .divider{
    margin: 2rem 0;
  }
  .contact .links{
    margin: 1rem 0;
  }
}