:root{
  --primary : #454258;
  --secondry : #524C71;
  --accent : #48D4A2;
  --text-clr : white;
  --text-clr-2 : #D2D2D2;
  --text-clr-3 : #787878;
}
html{
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}
body{
  padding: 0;
  margin: 0; 
  font-family: 'Russo One', sans-serif;
  background-color: var(--primary);
  color: var(--text-clr);
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}  
.accent{ color: var(--accent);}
button{ cursor: pointer;}
i{ pointer-events: none;}
img{ 
  display: block;
  width: 100%;
}

.nav{
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--secondry);
  padding: .7rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}
.nav .logo{  
  font-family: 'Stalinist One', sans-serif;
  color: var(--accent);
  text-decoration: none; 
}

.nav .links{
  padding: 0;
}
.nav .links ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav .nav-link{
  margin-right: 1rem;
  text-decoration: none;
  color: var(--text-clr);
}
.nav .nav-link:hover{
  text-decoration: underline;
}
.nav .nav-link.active{ color: var(--accent);}




.landing-page{  
  margin: 2.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.landing-page .title{
  font-size: 4rem;  
  text-align: center;
  line-height : 4.2rem;
  max-width: 800px;
}
.landing-page .url-form{
  background-color: var(--secondry);
  width: 57%;
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .4rem; 
  margin: 1.5rem 0;
  overflow: hidden;
  border-radius: .3rem;
  -webkit-border-radius: .3rem;
  -moz-border-radius: .3rem;
  -ms-border-radius: .3rem;
  -o-border-radius: .3rem;
}
.landing-page .url-form .url-input{
  flex: 1;
  background-color: var(--text-clr);
  border: none;
  padding: .7rem;
  border-radius: .2rem;
  -webkit-border-radius: .2rem;
  -moz-border-radius: .2rem;
  -ms-border-radius: .2rem;
  -o-border-radius: .2rem;
}
.landing-page .url-form .url-input:focus{
  outline: 3px solid var(--accent);
}
.landing-page .url-form .url-download-btn{
  padding: .7rem .9rem;
  border: none;
  background-color: var(--accent);
  color: var(--text-clr);
  margin-left: .5rem;
  border-radius: .2rem;
  -webkit-border-radius: .2rem;
  -moz-border-radius: .2rem;
  -ms-border-radius: .2rem;
  -o-border-radius: .2rem;
}
.landing-page .url-form .url-download-btn:hover{
  opacity: 0.7;
}




.results-container{
  margin: 4rem auto;
  width: 90%;
  overflow: hidden;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.results-container .tabs{
  display: flex;
  background-color: var(--secondry);
  width: max-content;
  overflow: hidden;
  border-top-right-radius: 1rem;
}
.results-container .tabs .tab{
  padding: .8rem 2rem;
  background-color: var(--secondry);
  border: none;
  color: var(--text-clr-2);
}
.results-container .tabs .tab i{ margin-right: .5rem;}
.results-container .tabs .tab.active{
  background-color: var(--accent);
  color: var(--text-clr);
  font-weight: bold;
}

.results-container .results-dumper{ 
  display: none;
  flex-direction: column;
  justify-content: center;
  background-color: var(--secondry);
  padding: 2rem;
}
.results-container .results-dumper.active{ display: flex; }
.results-container .results-dumper .result-item{
  background-color: var(--primary);
  margin-bottom: 1rem;
  display: flex;
  padding: .7rem;
  border-radius: .8rem;
  -webkit-border-radius: .8rem;
  -moz-border-radius: .8rem;
  -ms-border-radius: .8rem;
  -o-border-radius: .8rem;
}
.results-container .results-dumper .result-item .thumbnail{
  flex: .8;
  background-position: center;
  background-size: cover;
  margin-right: .7rem;
} 
.results-container .results-dumper .result-item .thumbnail .image-link{
  position: relative;
}
.results-container .results-dumper .result-item .thumbnail .image-link *{
  pointer-events: none;
}
.results-container .results-dumper .result-item .thumbnail .image-link .duration{
  position: absolute;
  bottom: .5rem;
  right: .5rem;
  background-color: rgba(0,0,0,0.4);
  color: var(--text-clr);
  padding: .3rem;
  font-size: .8rem;
  border-radius: .3rem;
  -webkit-border-radius: .3rem;
  -moz-border-radius: .3rem;
  -ms-border-radius: .3rem;
  -o-border-radius: .3rem;
}
.results-container .results-dumper .result-item .content{
  flex: 1; 
  display: flex;
  flex-direction: column;
}
.results-container .results-dumper .result-item .content .header{
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;
}
.results-container .results-dumper .result-item .content .header .time{
  color: var(--text-clr-3);
}
.results-container .results-dumper .result-item .content .download-container{
  display: flex;
  border: 3px solid var(--secondry);
  border-radius: .8rem ;
  -webkit-border-radius: .8rem ;
  -moz-border-radius: .8rem ;
  -ms-border-radius: .8rem ;
  -o-border-radius: .8rem ;
  justify-content: space-between;
}
.results-container .results-dumper .result-item .content .download-container .table{
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: .4rem;
}
.results-container .results-dumper .result-item .content .download-container .table:first-child{
  border-right: 3px solid var(--secondry);
}


.results-container .results-dumper .result-item .content .download-container .table tr{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:.55rem ;
  border: 1px solid var(--secondry);
}
.results-container .results-dumper .result-item .content .download-container .table .header{
  justify-content: center;
  font-size: .9rem;
}
.results-container .results-dumper .result-item .content .download-container .table tr td{
  font-size: .8rem;
  color: var(--text-clr-2);
}
.results-container .results-dumper .result-item .content .download-container .table tr td i{
  margin-right: .3rem;
}

.results-container .results-dumper .result-item .content .download-container .table tr:first-child{ margin:  0;}
.results-container .results-dumper .result-item .content .download-container .table .download-link{
  text-decoration: none;
  color: var(--text-clr);
  background-color: var(--accent);
  padding: .34rem;
  border-radius: .2rem;
  -webkit-border-radius: .2rem;
  -moz-border-radius: .2rem;
  -ms-border-radius: .2rem;
  -o-border-radius: .2rem;
}






.contact{
  padding: 4rem;
  padding-bottom: 0;
  background-color: var(--secondry);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: .9rem;
}
.contact .links{
  list-style: none;
  color: inherit;
  display: flex;
  align-items: center; 
  justify-content: space-between;
  width: 70%; 
}
.contact .links .link{
  text-decoration: none;
  color: inherit;
}
.contact .links .link:hover{
  text-decoration: underline;
  color: var(--accent);
}
.contact .links.label-links li:nth-child(3) .link{  
  color: var(--accent);
  font-family: 'Stalinist One', sans-serif;
}
.contact .links.icon-links{
  justify-content: center;
}
.contact .links.icon-links .link{
  margin: 0 1rem;
  border: 1px solid var(--text-clr);
  padding: .5rem .6rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
}
.contact .links.icon-links .link:hover{
  background-color: var(--accent);
  color: var(--text-clr);
  border-color: var(--accent);
}
.contact .divider{
  width: 100%;
  height: 3px;
  background-color: var(--text-clr);
  border-radius: 50rem;
  -webkit-border-radius: 50rem;
  -moz-border-radius: 50rem;
  -ms-border-radius: 50rem;
  -o-border-radius: 50rem;
  margin: 3rem 0;
}
.contact .copy-right{
  margin: 3rem 0;
  font-size: .8rem;
  color: var(--text-clr-2);
}