:root{
  --primary : #454258;
  --secondry : #524C71;
  --accent : #48D4A2;
  --text-clr : white;
  --text-clr-2 : #D2D2D2;
  --text-clr-3 : #787878;
}

body{
  padding: 0;
  margin: 0; 
  font-family: 'Russo One', sans-serif;
  background-color: var(--primary);
  color: var(--text-clr);
}

.logo{  
  font-family: 'Stalinist One', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 